interactions:
- request:
    body: '{"inputs":["alpha","beta"],"minThemes":1,"maxThemes":3}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/cd4675b3b4584ff9ad3ec865c0fe3313"}'
    headers:
      Apigw-Requestid:
      - JwCPihchDoEEJCQ=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/cd4675b3b4584ff9ad3ec865c0fe3313
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JwCPphUAjoEEJ-A=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/cd4675b3b4584ff9ad3ec865c0fe3313
  response:
    body:
      string: '{"jobId":"690e2159-1f8d-42e6-a202-6e9b159d4d90","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/themes/690e2159-1f8d-42e6-a202-6e9b159d4d90/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202518Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOxOgaQW1sAFV%2FyTA1mbYnGORO%2FWQe%2B3E0KP4kIPricQIhAIoBCMtH0HZpEza5[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/themes/690e2159-1f8d-42e6-a202-6e9b159d4d90/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202518Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOxOgaQ[...]
