interactions:
- request:
    body: '{"inputs":["happy","sad"],"fast":true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment
  response:
    body:
      string: '{"results":[{"sentiment":"positive","confidence":0.9892745614051819},{"sentiment":"negative","confidence":0.9963441491127014}],"requestId":"7b6211c1-ad96-4b26-b2bb-c5c9d3630f27"}'
    headers:
      Apigw-Requestid:
      - JxRq6glSjoEEJuw=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
