interactions:
- request:
    body: '{"inputs":["foo"],"question":"question"}'
    headers:
      authorization:
      - Bearer testtoken
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/summaries
  response:
    body:
      string: '{"jobId":"job123"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      authorization:
      - Bearer testtoken
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=job123
  response:
    body:
      string: '{"jobId":"job123","jobStatus":"completed","resultUrl":"https://dev.core.researchwiseai.com/pulse/v1/results/job123"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer testtoken
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/results/job123
  response:
    body:
      string: '{"summary":"baz","requestId":"req4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
