interactions:
- request:
    body: '{"set":["x","y"],"fast":true,"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"scenario":"self","mode":"flattened","n":2,"flattened":[0.5377824499206663],"requestId":"39be55ad-fe27-40ad-9cb5-ac2b31c52ee4"}'
    headers:
      Apigw-Requestid:
      - JwCAUheTjoEEJcg=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
