interactions:
- request:
    body: '{"inputs":["happy","sad"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/7760258f17e442d29736d3b2855473af"}'
    headers:
      Apigw-Requestid:
      - Ju1GhjiwDoEEMNw=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/7760258f17e442d29736d3b2855473af
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - Ju1GrhxSjoEEMZQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/7760258f17e442d29736d3b2855473af
  response:
    body:
      string: '{"jobId":"46a5205f-e76c-46e3-afde-a39f9d057796","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/46a5205f-e76c-46e3-afde-a39f9d057796/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAUSUWGQKK%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113840Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDRCyuYfZhXf%2FERL12QMrHMYB%2BpCT0HZi%2BC8WYODvIktgIhALrRPVGVNVWx[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/46a5205f-e76c-46e3-afde-a39f9d057796/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAUSUWGQKK%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113840Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDRC[...]
