interactions:
- request:
    body: '{"inputs":["alpha","beta"],"minThemes":1,"maxThemes":3}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/b4537e65134845d3a08013f4f81b2f4c"}'
    headers:
      Apigw-Requestid:
      - Jl3B_iWODoEEQ0w=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/b4537e65134845d3a08013f4f81b2f4c
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - Jl3CIiH9DoEEPcA=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
