interactions:
- request:
    body: '{"set":["alpha","beta"],"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/b75aa90075c34263ba4bea9b0338416a"}'
    headers:
      Apigw-Requestid:
      - JoK_bjQlDoEEPlw=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/b75aa90075c34263ba4bea9b0338416a
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JoK_kj71joEEPCQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/b75aa90075c34263ba4bea9b0338416a
  response:
    body:
      string: '{"jobId":"ae28ff3f-5491-49dc-8fdb-325c098580f7","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/ae28ff3f-5491-49dc-8fdb-325c098580f7/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T110944Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGTuRt4nNTkCswc7zRQJuhl5YXtqil7bPPxVQJWiSJMQIhAOQVhfphlQu0YL8eMf[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/ae28ff3f-5491-49dc-8fdb-325c098580f7/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T110944Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGT[...]
