interactions:
- request:
    body: '{"inputs":["happy","sad"],"fast":true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment
  response:
    body:
      string: '{"results":[{"sentiment":"positive","confidence":0.9892745614051819},{"sentiment":"negative","confidence":0.9963441491127014}],"requestId":"ac64191f-a8cf-4716-8fef-29fcf8828094"}'
    headers:
      Apigw-Requestid:
      - Ju0t8i_cjoEEMUw=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
