interactions:
- request:
    body: '{"set":["Had a blast! The rollercoasters were thrilling and the staff were
      friendly.","A bit pricey, but the rides were worth it. Great family fun!","Long
      lines, but the shows were entertaining. Would come again.","Disappointing. Many
      rides were closed, and the food was overpriced.","Awesome day out! The kids
      loved the water park.","The park was clean and well-maintained. A pleasant experience.","Too
      crowded, making it difficult to enjoy the rides.","Excellent customer service.
      The staff went above and beyond.","A magical experience! Highly recommend for
      all ages.","Not impressed with the variety of rides. Could be better.","The
      atmosphere was fantastic. Great music and decorations.","Spent too much time
      waiting in line. Needs better queue management.","My kids had a wonderful time!
      We''ll definitely return.","The food options were limited and not very tasty.","A
      truly unforgettable day at the park. Highly recommended!","The park was clean
      and well-kept, but the rides were too short.","Great value for the money.  Lots
      of fun for the whole family.","We had a mixed experience. Some rides were great,
      others were underwhelming.","The staff were helpful and courteous.  The park
      was well-organized.","The park is beautiful, but the ticket prices are exorbitant."],"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/8b98c68b895345c99e955e5eff0fd2c7"}'
    headers:
      Apigw-Requestid:
      - Ju1QAj2nDoEEPsA=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/8b98c68b895345c99e955e5eff0fd2c7
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - Ju1QJi-yDoEEP_g=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/8b98c68b895345c99e955e5eff0fd2c7
  response:
    body:
      string: '{"jobId":"6f9aa17d-4425-4a72-8f5e-f1c4fd1418b1","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/6f9aa17d-4425-4a72-8f5e-f1c4fd1418b1/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAVVMVBUYS%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113944Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJHMEUCIQCSWiGJSKL2HorNdXDlD3vQZelxI6B76rauWu5lgFD%2FCAIgd101eWefDEPloDU1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/6f9aa17d-4425-4a72-8f5e-f1c4fd1418b1/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAVVMVBUYS%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113944Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJHMEUCIQCSW[...]
