interactions:
- request:
    body: '{"inputs":["alpha","beta"],"minThemes":1,"maxThemes":3}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/b155fa50287a483b909547274cd3c7cc"}'
    headers:
      Apigw-Requestid:
      - Ju09YjpHDoEEP1A=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/b155fa50287a483b909547274cd3c7cc
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - Ju09jggGDoEEPHw=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/b155fa50287a483b909547274cd3c7cc
  response:
    body:
      string: '{"jobId":"88bb2246-182c-4a4c-9b94-c666fef19a32","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/88bb2246-182c-4a4c-9b94-c666fef19a32/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAVVMVBUYS%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113751Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJHMEUCIQCSWiGJSKL2HorNdXDlD3vQZelxI6B76rauWu5lgFD%2FCAIgd101eWefDEPloDU1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/88bb2246-182c-4a4c-9b94-c666fef19a32/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAVVMVBUYS%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113751Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJHMEUCIQCSW[...]
