interactions:
- request:
    body: '{"inputs":["happy","sad"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/387452f70fbd49e69c0451e94487e804"}'
    headers:
      Apigw-Requestid:
      - JwCXhh80joEEJ3g=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/387452f70fbd49e69c0451e94487e804
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JwCXqg2IjoEEJHg=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/387452f70fbd49e69c0451e94487e804
  response:
    body:
      string: '{"jobId":"2e96ced0-b087-4fee-bfbc-f4f57d95ba7e","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/sentiment/2e96ced0-b087-4fee-bfbc-f4f57d95ba7e/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202609Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOxOgaQW1sAFV%2FyTA1mbYnGORO%2FWQe%2B3E0KP4kIPricQIhAIoBCMtH0HZpE[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/sentiment/2e96ced0-b087-4fee-bfbc-f4f57d95ba7e/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202609Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOxO[...]
