interactions:
- request:
    body: '{"set":["x","y"],"fast":true,"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"scenario":"self","mode":"flattened","n":2,"flattened":[0.5377824499206663],"requestId":"aa9b2be4-e7ff-4ebf-8671-c388b9365e4c"}'
    headers:
      Apigw-Requestid:
      - JxRm6gnkDoEEJlQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
