interactions:
- request:
    body: '{"inputs":["Had a blast! The rollercoasters were thrilling and the staff
      were friendly.","A bit pricey, but the rides were worth it. Great family fun!","Long
      lines, but the shows were entertaining. Would come again.","Disappointing. Many
      rides were closed, and the food was overpriced.","Awesome day out! The kids
      loved the water park.","The park was clean and well-maintained. A pleasant experience.","Too
      crowded, making it difficult to enjoy the rides.","Excellent customer service.
      The staff went above and beyond.","A magical experience! Highly recommend for
      all ages.","Not impressed with the variety of rides. Could be better.","The
      atmosphere was fantastic. Great music and decorations.","Spent too much time
      waiting in line. Needs better queue management.","My kids had a wonderful time!
      We''ll definitely return.","The food options were limited and not very tasty.","A
      truly unforgettable day at the park. Highly recommended!","The park was clean
      and well-kept, but the rides were too short.","Great value for the money.  Lots
      of fun for the whole family.","We had a mixed experience. Some rides were great,
      others were underwhelming.","The staff were helpful and courteous.  The park
      was well-organized.","The park is beautiful, but the ticket prices are exorbitant."],"fast":true}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NTg0MDU5OTgsImV4cCI6MTc1ODQ5MjM5OCwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.Trwn9kBaPatCBX773labnhMxHE5yKQFdNdZexMN7haseAZEkC5Mr-RwnSxR8beD4a4tPg-zmCIGF_g5f2RVluIKuMjcmfe_-uIQ3IIAGp5XUCAXdlMNpOOPcTDZWlDMdttAG4phTVSqzSrNZ0jR-XyhR4dCcMYMyLW36qQh1WbGtOs1cd6qJldp64L5Qvfs5sinTWzoud9sZUil945PIMG-MHXPfvSs3S0GPhFOoxwzDm9-AwdPb0TQ0PgMJAGTHrACniI2qNR5zj9z8vTRfV9NS5PEJ_cuz5FEgWdB-rIhfZ5q_nGQ6J5rN4ZNKbeGGfnWoZ8QSsYqpLwzRAE-bFw
      content-type:
      - application/json
    method: POST
    uri: https://staging.pulse.researchwiseai.com/v1/sentiment
  response:
    body:
      string: '{"results":[{"sentiment":"positive","confidence":0.92},{"sentiment":"positive","confidence":0.7},{"sentiment":"mixed","confidence":0.55},{"sentiment":"negative","confidence":0.85},{"sentiment":"positive","confidence":0.9},{"sentiment":"positive","confidence":0.88},{"sentiment":"negative","confidence":0.8},{"sentiment":"positive","confidence":0.93},{"sentiment":"positive","confidence":0.95},{"sentiment":"negative","confidence":0.82},{"sentiment":"positive","confidence":0.88},{"sentiment":"negative","confidence":0.86},{"sentiment":"positive","confidence":0.92},{"sentiment":"negative","confidence":0.77},{"sentiment":"positive","confidence":0.94},{"sentiment":"mixed","confidence":0.65},{"sentiment":"positive","confidence":0.89},{"sentiment":"mixed","confidence":0.75},{"sentiment":"positive","confidence":0.9},{"sentiment":"mixed","confidence":0.7}],"requestId":"160b5d433e42439638bb42056d56ec793a0bfabd","usage":{"records":[{"feature":"sentiment","quantity":1}],"total":1}}'
    headers:
      Apigw-Requestid:
      - ROLK7iABjoEENvQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
