interactions:
- request:
    body: '{"inputs":["a"],"fast":false}'
    headers:
      authorization:
      - Bearer testtoken
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/embeddings
  response:
    body:
      string: '{"jobId":"job123"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      authorization:
      - Bearer testtoken
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=job123
  response:
    body:
      string: '{"jobId":"job123","jobStatus":"completed","resultUrl":"https://dev.core.researchwiseai.com/pulse/v1/results/job123"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer testtoken
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/results/job123
  response:
    body:
      string: '{"embeddings":[{"text":"a","vector":[1.0]}],"requestId":"req5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
