interactions:
- request:
    body: '{"inputs":["I love this product!","The experience was average.","Worst
      service ever!"],"minThemes":2,"maxThemes":4}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes?fast=true
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/9deb419ea3114fd8b9aa265f126a1576"}'
    headers:
      Apigw-Requestid:
      - JlB7UiwljoEEJ0w=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
