interactions:
- request:
    body: '{"inputs":["alpha","beta"],"minThemes":1,"maxThemes":3}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/65073685a73b4e92bb541dc8aec0a474"}'
    headers:
      Apigw-Requestid:
      - JxR6OjGGDoEEM8g=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/65073685a73b4e92bb541dc8aec0a474
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JxR6gjZIjoEEMwQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/themes/4e161424-7305-43ea-8379-cd03a649f93d/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYATRRWI4IH%2F20250429%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250429T052909Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJGMEQCIFuw63p05[...]
