interactions:
- request:
    body: '{"minThemes":2,"maxThemes":50,"fast":true,"inputs":["Had a blast! The rollercoasters
      were thrilling and the staff were friendly.","A bit pricey, but the rides were
      worth it. Great family fun!","Long lines, but the shows were entertaining. Would
      come again.","Disappointing. Many rides were closed, and the food was overpriced.","Awesome
      day out! The kids loved the water park.","The park was clean and well-maintained.
      A pleasant experience.","Too crowded, making it difficult to enjoy the rides.","Excellent
      customer service. The staff went above and beyond.","A magical experience! Highly
      recommend for all ages.","Not impressed with the variety of rides. Could be
      better.","The atmosphere was fantastic. Great music and decorations.","Spent
      too much time waiting in line. Needs better queue management.","My kids had
      a wonderful time! We''ll definitely return.","The food options were limited
      and not very tasty.","A truly unforgettable day at the park. Highly recommended!","The
      park was clean and well-kept, but the rides were too short.","Great value for
      the money.  Lots of fun for the whole family.","We had a mixed experience. Some
      rides were great, others were underwhelming.","The staff were helpful and courteous.  The
      park was well-organized.","The park is beautiful, but the ticket prices are
      exorbitant."]}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImFrYW1TX2xnaG9BNVlUSDQ2aEx2dCJ9.eyJpc3MiOiJodHRwczovL3Jlc2VhcmNoLXdpc2UtYWktZXUuZXUuYXV0aDAuY29tLyIsInN1YiI6Ik5tSDRRSWI3bVlBQUdPSXF1bElNMVZxa2VzOGlwajU5QGNsaWVudHMiLCJhdWQiOiJodHRwczovL2NvcmUucmVzZWFyY2h3aXNlYWkuY29tL3B1bHNlL3YxIiwiaWF0IjoxNzU4NDQxNDQwLCJleHAiOjE3NTg1Mjc4NDAsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyIsImF6cCI6Ik5tSDRRSWI3bVlBQUdPSXF1bElNMVZxa2VzOGlwajU5In0.A7hlMXIuPnGjp2VESslxSSoOqoljMHzjwLMGMpPaHXwrxrG4SUlDUoor-sxU2jeaUSNmFhXSttLKBoZIrhhXcdPRmenMN6yd4_LnIwIVE7zFj7bIShqGzImk9fNSYmF85I1MJm2x0Z9l3_yLIZyviqCZPBHJ9p-J9CQI839-47rp2bueMfmPnX48u4qjY3tl2tZo1ybJXCumu2Ks9a3Na-VcarxOztc4-1LQbOz69pstM63wC2NNa0cFEAdAsBtXaZCFS5KtAGsvGxqat8V1NeaaL42-THS6MIaMd1_GvlNY-QZfe3VGQq2j5UiiwzHr5-EduCXU8Gg5k_3lysBEoA
      content-type:
      - application/json
    method: POST
    uri: https://pulse.researchwiseai.com/v1/themes
  response:
    body:
      string: '{"themes":[{"shortLabel":"Family Fun","label":"Family-friendly experiences
        and attractions","description":"Responses highlighting enjoyable experiences
        for families, including rides, water parks, and overall family-oriented atmosphere.","representatives":["Had
        a blast! The rollercoasters were thrilling and the staff were friendly.","Awesome
        day out! The kids loved the water park.","My kids had a wonderful time! We''ll
        definitely return.","A magical experience! Highly recommend for all ages.","Spent
        too much time waiting in line. Needs better queue management."]},{"shortLabel":"Cost
        and Value","label":"Pricing, affordability, and value for money","description":"Responses
        discussing perceptions of co[...]
- request:
    body: '{"set_a":["Had a blast! The rollercoasters were thrilling and the staff
      were friendly.","A bit pricey, but the rides were worth it. Great family fun!","Long
      lines, but the shows were entertaining. Would come again.","Disappointing. Many
      rides were closed, and the food was overpriced.","Awesome day out! The kids
      loved the water park.","The park was clean and well-maintained. A pleasant experience.","Too
      crowded, making it difficult to enjoy the rides.","Excellent customer service.
      The staff went above and beyond.","A magical experience! Highly recommend for
      all ages.","Not impressed with the variety of rides. Could be better.","The
      atmosphere was fantastic. Great music and decorations.","Spent too much time
      waiting in line. Needs better queue management.","My kids had a wonderful time!
      We''ll definitely return.","The food options were limited and not very tasty.","A
      truly unforgettable day at the park. Highly recommended!","The park was clean
      and well-kept, but the rides were too short.","Great value for the money.  Lots
      of fun for the whole family.","We had a mixed experience. Some rides were great,
      others were underwhelming.","The staff were helpful and courteous.  The park
      was well-organized.","The park is beautiful, but the ticket prices are exorbitant."],"set_b":["Food
      & Drink","Rides","Staff"],"flatten":false,"fast":true}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImFrYW1TX2xnaG9BNVlUSDQ2aEx2dCJ9.eyJpc3MiOiJodHRwczovL3Jlc2VhcmNoLXdpc2UtYWktZXUuZXUuYXV0aDAuY29tLyIsInN1YiI6Ik5tSDRRSWI3bVlBQUdPSXF1bElNMVZxa2VzOGlwajU5QGNsaWVudHMiLCJhdWQiOiJodHRwczovL2NvcmUucmVzZWFyY2h3aXNlYWkuY29tL3B1bHNlL3YxIiwiaWF0IjoxNzU4NDQxNDQwLCJleHAiOjE3NTg1Mjc4NDAsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyIsImF6cCI6Ik5tSDRRSWI3bVlBQUdPSXF1bElNMVZxa2VzOGlwajU5In0.A7hlMXIuPnGjp2VESslxSSoOqoljMHzjwLMGMpPaHXwrxrG4SUlDUoor-sxU2jeaUSNmFhXSttLKBoZIrhhXcdPRmenMN6yd4_LnIwIVE7zFj7bIShqGzImk9fNSYmF85I1MJm2x0Z9l3_yLIZyviqCZPBHJ9p-J9CQI839-47rp2bueMfmPnX48u4qjY3tl2tZo1ybJXCumu2Ks9a3Na-VcarxOztc4-1LQbOz69pstM63wC2NNa0cFEAdAsBtXaZCFS5KtAGsvGxqat8V1NeaaL42-THS6MIaMd1_GvlNY-QZfe3VGQq2j5UiiwzHr5-EduCXU8Gg5k_3lysBEoA
      content-type:
      - application/json
    method: POST
    uri: https://pulse.researchwiseai.com/v1/similarity
  response:
    body:
      string: '{"flattened":[0.18315733969211578,0.357199102640152,0.23872600495815277,0.14947949349880219,0.44789859652519226,0.07936877757310867,0.1713564246892929,0.28198012709617615,0.12536737322807312,0.263320654630661,0.3542565405368805,0.06797517091035843,0.15388864278793335,0.21710237860679626,0.11356183141469955,0.14245833456516266,0.20348307490348816,0.14309251308441162,0.09337718784809113,0.3345576226711273,0.06294544041156769,0.14420275390148163,0.14527256786823273,0.31359657645225525,0.15109144151210785,0.2151232659816742,0.1000375896692276,0.13705816864967346,0.47867873311042786,0.07467348128557205,0.2130720168352127,0.13324818015098572,0.12983767688274384,0.15089380741119385,0.18687665462493896,0.14844390749931335,0.11927249282598495,0.14575527608394623,0.11982349306344986,0.3601222038269043,0.07184381783008575,0.08480297774076462,0.1555146425962448,0.21792346239089966,0.12290408462285995,0.1123645231127739,0.3800053894519806,0.07780668139457703,0.15308824181556702,0.261503130197525,0.09256967902183533,0.1290215402841568,0.4232461452484131,0.06249310076236725,0.1524270623922348,0.17103669047355652,0.29828503727912903,0.10799561440944672,0.1918659806251526,0.05431763827800751],"matrix":[[0.18315733969211578,0.357199102640152,0.23872600495815277],[0.14947949349880219,0.44789859652519226,0.07936877757310867],[0.1713564246892929,0.28198012709617615,0.12536737322807312],[0.263320654630661,0.3542565405368805,0.06797517091035843],[0.15388864278793335,0.21710237860679626,0.11356183141469955],[0.14245833456516266,0.20348307490348816,0.14309251308441162],[0.09337718784809113,0.3345576226711273,0.06294544041156769],[0.14420275390148163,0.14527256786823273,0.31359657645225525],[0.15109144151210785,0.2151232659816742,0.1000375896692276],[0.13705816864967346,0.47867873311042786,0.07467348128557205],[0.2130720168352127,0.13324818015098572,0.12983767688274384],[0.15089380741119385,0.18687665462493896,0.14844390749931335],[0.11927249282598495,0.14575527608394623,0.11982349306344986],[0.3601222038269043,0.07184381783008575,0.08480297774076462],[0.1555146425962448,0.21792346239089966,0.12290408462285995],[0.1123645231127739,0.3800053894519806,0.07780668139457703],[0.15308824181556702,0.261503130197525,0.09256967902183533],[0.1290215402841568,0.4232461452484131,0.06249310076236725],[0.1524270623922348,0.17103669047355652,0.29828503727912903],[0.10799561440944672,0.1918659806251526,0.05431763827800751]],"mode":"matrix","n":20,"requestId":"500c3803-3460-4175-87a3-6070dd0c10f6","scenario":"cross","usage":{"records":[{"feature":"similarity","quantity":1}],"total":1}}'
    headers:
      Apigw-Requestid:
      - RPiFRjdSjoEEPEw=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
