interactions:
- request:
    body: '{"set":["x","y"],"fast":true,"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"scenario":"self","mode":"flattened","n":2,"flattened":[0.5377824499206663],"requestId":"ddc1e791-2891-4b62-b0d3-da1749468c4e"}'
    headers:
      Apigw-Requestid:
      - JoK25gYiDoEEMoA=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
