interactions:
- request:
    body: '{"inputs":["happy","sad"],"fast":true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment
  response:
    body:
      string: '{"results":[{"sentiment":"positive","confidence":0.9892745614051819},{"sentiment":"negative","confidence":0.9963441491127014}],"requestId":"29dc16c0-0a27-41ed-a1f1-a6f5a24cd5dd"}'
    headers:
      Apigw-Requestid:
      - JoK3djX7DoEEMJg=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
