interactions:
- request:
    body: '{"set":["alpha","beta"],"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/fe332a478cdd47fd880c127221c85f41"}'
    headers:
      Apigw-Requestid:
      - JxRy9jMxDoEEMzA=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/fe332a478cdd47fd880c127221c85f41
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JxRzNjZejoEEMIQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/similarity/b01612cd-9301-4c61-8ca6-6bca01327038/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYATRRWI4IH%2F20250429%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250429T052819Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEO7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJGMEQCIFuw6[...]
