interactions:
- request:
    body: '{"set":["x","y"],"fast":true,"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"scenario":"self","mode":"flattened","n":2,"flattened":[0.5377824499206663],"requestId":"9a483328-542b-4e2c-a142-8bdb05abd061"}'
    headers:
      Apigw-Requestid:
      - Ju0tXh70joEENGQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
