interactions:
- request:
    body: '{"inputs":["x","y"],"minThemes":1,"maxThemes":3}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes?fast=true
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/4117d51cb2cb411aba48d5f422745e99"}'
    headers:
      Apigw-Requestid:
      - JlW20gcEDoEEPTA=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
