interactions:
- request:
    body: '{"minThemes":2,"maxThemes":50,"fast":true,"inputs":["Had a blast! The rollercoasters
      were thrilling and the staff were friendly.","A bit pricey, but the rides were
      worth it. Great family fun!","Long lines, but the shows were entertaining. Would
      come again.","Disappointing. Many rides were closed, and the food was overpriced.","Awesome
      day out! The kids loved the water park.","The park was clean and well-maintained.
      A pleasant experience.","Too crowded, making it difficult to enjoy the rides.","Excellent
      customer service. The staff went above and beyond.","A magical experience! Highly
      recommend for all ages.","Not impressed with the variety of rides. Could be
      better.","The atmosphere was fantastic. Great music and decorations.","Spent
      too much time waiting in line. Needs better queue management.","My kids had
      a wonderful time! We''ll definitely return.","The food options were limited
      and not very tasty.","A truly unforgettable day at the park. Highly recommended!","The
      park was clean and well-kept, but the rides were too short.","Great value for
      the money.  Lots of fun for the whole family.","We had a mixed experience. Some
      rides were great, others were underwhelming.","The staff were helpful and courteous.  The
      park was well-organized.","The park is beautiful, but the ticket prices are
      exorbitant."]}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NTg0MDU5OTgsImV4cCI6MTc1ODQ5MjM5OCwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.Trwn9kBaPatCBX773labnhMxHE5yKQFdNdZexMN7haseAZEkC5Mr-RwnSxR8beD4a4tPg-zmCIGF_g5f2RVluIKuMjcmfe_-uIQ3IIAGp5XUCAXdlMNpOOPcTDZWlDMdttAG4phTVSqzSrNZ0jR-XyhR4dCcMYMyLW36qQh1WbGtOs1cd6qJldp64L5Qvfs5sinTWzoud9sZUil945PIMG-MHXPfvSs3S0GPhFOoxwzDm9-AwdPb0TQ0PgMJAGTHrACniI2qNR5zj9z8vTRfV9NS5PEJ_cuz5FEgWdB-rIhfZ5q_nGQ6J5rN4ZNKbeGGfnWoZ8QSsYqpLwzRAE-bFw
      content-type:
      - application/json
    method: POST
    uri: https://staging.pulse.researchwiseai.com/v1/themes
  response:
    body:
      string: '{"themes":[{"shortLabel":"Thrilling Rides","label":"Enjoyment of Rides
        and Attractions","description":"Themes related to the excitement, variety,
        and quality of rides and attractions at the park.","representatives":["The
        rollercoasters were thrilling.","The kids loved the water park.","Some rides
        were great, others were underwhelming.","The park was well-maintained."]},{"shortLabel":"Customer
        Service","label":"Quality of Staff and Service","description":"Themes highlighting
        the helpfulness, friendliness, and overall service experience provided by
        staff.","representatives":["The staff were friendly.","Excellent customer
        service.","The staff went above and beyo[...]
- request:
    body: '{"set_a":["Had a blast! The rollercoasters were thrilling and the staff
      were friendly.","A bit pricey, but the rides were worth it. Great family fun!","Long
      lines, but the shows were entertaining. Would come again.","Disappointing. Many
      rides were closed, and the food was overpriced.","Awesome day out! The kids
      loved the water park.","The park was clean and well-maintained. A pleasant experience.","Too
      crowded, making it difficult to enjoy the rides.","Excellent customer service.
      The staff went above and beyond.","A magical experience! Highly recommend for
      all ages.","Not impressed with the variety of rides. Could be better.","The
      atmosphere was fantastic. Great music and decorations.","Spent too much time
      waiting in line. Needs better queue management.","My kids had a wonderful time!
      We''ll definitely return.","The food options were limited and not very tasty.","A
      truly unforgettable day at the park. Highly recommended!","The park was clean
      and well-kept, but the rides were too short.","Great value for the money.  Lots
      of fun for the whole family.","We had a mixed experience. Some rides were great,
      others were underwhelming.","The staff were helpful and courteous.  The park
      was well-organized.","The park is beautiful, but the ticket prices are exorbitant."],"set_b":["Service","Atmosphere","Amenities"],"flatten":false,"fast":true}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NTg0MDU5OTgsImV4cCI6MTc1ODQ5MjM5OCwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.Trwn9kBaPatCBX773labnhMxHE5yKQFdNdZexMN7haseAZEkC5Mr-RwnSxR8beD4a4tPg-zmCIGF_g5f2RVluIKuMjcmfe_-uIQ3IIAGp5XUCAXdlMNpOOPcTDZWlDMdttAG4phTVSqzSrNZ0jR-XyhR4dCcMYMyLW36qQh1WbGtOs1cd6qJldp64L5Qvfs5sinTWzoud9sZUil945PIMG-MHXPfvSs3S0GPhFOoxwzDm9-AwdPb0TQ0PgMJAGTHrACniI2qNR5zj9z8vTRfV9NS5PEJ_cuz5FEgWdB-rIhfZ5q_nGQ6J5rN4ZNKbeGGfnWoZ8QSsYqpLwzRAE-bFw
      content-type:
      - application/json
    method: POST
    uri: https://staging.pulse.researchwiseai.com/v1/similarity
  response:
    body:
      string: '{"flattened":[0.1368335783481598,0.15603628754615784,0.1792207658290863,0.10681773722171783,0.09896977245807648,0.2013399600982666,0.16569043695926666,0.09619519859552383,0.21309034526348114,0.09858856350183487,0.06187174841761589,0.16504070162773132,0.10185245424509048,0.11598636209964752,0.18289466202259064,0.1684037148952484,0.10811445116996765,0.3274143934249878,0.05085719749331474,0.13080835342407227,0.1456153690814972,0.3158087730407715,0.1341855674982071,0.25078141689300537,0.115874744951725,0.13235294818878174,0.14754468202590942,0.10652932524681091,0.09447084367275238,0.18955790996551514,0.09154864400625229,0.42957356572151184,0.18476158380508423,0.19067133963108063,0.07817899435758591,0.15265561640262604,0.1075827106833458,0.08643832802772522,0.16018164157867432,0.09819433093070984,0.06841609627008438,0.16898991167545319,0.13674165308475494,0.11235158890485764,0.182633638381958,0.11389316618442535,0.08176157623529434,0.21702976524829865,0.10495362430810928,0.11505898088216782,0.21078065037727356,0.10675325989723206,0.08029357343912125,0.14715813100337982,0.23039357364177704,0.09421192109584808,0.27991539239883423,0.050799645483493805,0.09982407093048096,0.18177543580532074],"matrix":[[0.1368335783481598,0.15603628754615784,0.1792207658290863],[0.10681773722171783,0.09896977245807648,0.2013399600982666],[0.16569043695926666,0.09619519859552383,0.21309034526348114],[0.09858856350183487,0.06187174841761589,0.16504070162773132],[0.10185245424509048,0.11598636209964752,0.18289466202259064],[0.1684037148952484,0.10811445116996765,0.3274143934249878],[0.05085719749331474,0.13080835342407227,0.1456153690814972],[0.3158087730407715,0.1341855674982071,0.25078141689300537],[0.115874744951725,0.13235294818878174,0.14754468202590942],[0.10652932524681091,0.09447084367275238,0.18955790996551514],[0.09154864400625229,0.42957356572151184,0.18476158380508423],[0.19067133963108063,0.07817899435758591,0.15265561640262604],[0.1075827106833458,0.08643832802772522,0.16018164157867432],[0.09819433093070984,0.06841609627008438,0.16898991167545319],[0.13674165308475494,0.11235158890485764,0.182633638381958],[0.11389316618442535,0.08176157623529434,0.21702976524829865],[0.10495362430810928,0.11505898088216782,0.21078065037727356],[0.10675325989723206,0.08029357343912125,0.14715813100337982],[0.23039357364177704,0.09421192109584808,0.27991539239883423],[0.050799645483493805,0.09982407093048096,0.18177543580532074]],"mode":"matrix","n":20,"requestId":"f6e5817a-ddaa-4d2e-bd94-c8d169c57c7b","scenario":"cross","usage":{"records":[{"feature":"similarity","quantity":1}],"total":1}}'
    headers:
      Apigw-Requestid:
      - ROLMQibtDoEEMpQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
