interactions:
- request:
    body: '{"set":["alpha","beta"],"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/9dd47b61d7df492eafd8462a39723aad"}'
    headers:
      Apigw-Requestid:
      - JwCH4j3gjoEEJzQ=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/9dd47b61d7df492eafd8462a39723aad
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JwCIBg5ljoEEJNg=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/9dd47b61d7df492eafd8462a39723aad
  response:
    body:
      string: '{"jobId":"69adfb83-7759-462d-9ad9-857024c9ec25","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/similarity/69adfb83-7759-462d-9ad9-857024c9ec25/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202427Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOxOgaQW1sAFV%2FyTA1mbYnGORO%2FWQe%2B3E0KP4kIPricQIhAIoBCMtH0HZp[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/similarity/69adfb83-7759-462d-9ad9-857024c9ec25/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202427Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOx[...]
