interactions:
- request:
    body: '{"set":["alpha","beta"],"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/f57f35bdba794aad8ba63bc593c3402e"}'
    headers:
      Apigw-Requestid:
      - Ju02Ci9YjoEEPog=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/f57f35bdba794aad8ba63bc593c3402e
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - Ju02OjkkjoEEPtA=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/f57f35bdba794aad8ba63bc593c3402e
  response:
    body:
      string: '{"jobId":"cb2dce17-fe4a-452b-9aa4-41544107807f","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/cb2dce17-fe4a-452b-9aa4-41544107807f/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAVVMVBUYS%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113652Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJHMEUCIQCSWiGJSKL2HorNdXDlD3vQZelxI6B76rauWu5lgFD%2FCAIgd101eWefDEPloDU1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/cb2dce17-fe4a-452b-9aa4-41544107807f/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAVVMVBUYS%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113652Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJHMEUCIQCSW[...]
