interactions:
- request:
    body: '{"inputs":["happy","sad"],"fast":true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment
  response:
    body:
      string: '{"results":[{"sentiment":"positive","confidence":0.9892745614051819},{"sentiment":"negative","confidence":0.9963441491127014}],"requestId":"0f6bde16-9249-4f09-96e2-87e59393a06e"}'
    headers:
      Apigw-Requestid:
      - JwCAmjoIDoEEJBA=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
