interactions:
- request:
    body: '{"inputs":["foo","bar"],"k":1}'
    headers:
      authorization:
      - Bearer testtoken
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/clustering
  response:
    body:
      string: '{"jobId":"job123"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      authorization:
      - Bearer testtoken
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=job123
  response:
    body:
      string: '{"jobId":"job123","jobStatus":"completed","resultUrl":"https://dev.core.researchwiseai.com/pulse/v1/results/job123"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer testtoken
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/results/job123
  response:
    body:
      string: '{"algorithm":"kmeans","clusters":[{"clusterId":0,"items":["foo","bar"]}],"requestId":"req2"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
