interactions:
- request:
    body: '{"inputs":["I love this product!","The experience was okay.","Worst service
      ever."],"minThemes":2,"maxThemes":4}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes?fast=true
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/e701913bd207439daefd7351c0374e67"}'
    headers:
      Apigw-Requestid:
      - Jk7HohbejoEEJTQ=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
