interactions:
- request:
    body: '{"set":["x","y"],"fast":true,"flatten":false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/similarity
  response:
    body:
      string: '{"scenario":"self","mode":"flattened","n":2,"flattened":[0.5377824499206663],"requestId":"d5ba6977-a4b5-42fa-8dca-f4bf2fe6ba6a"}'
    headers:
      Apigw-Requestid:
      - JmC3EgNQjoEEJeA=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
