interactions:
- request:
    body: '{"inputs":["alpha","beta"],"minThemes":1,"maxThemes":3}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes?fast=true
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/af2239cdddc541e8b262a693a7ac6dc1"}'
    headers:
      Apigw-Requestid:
      - JlTdehJgDoEEPhg=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
