interactions:
- request:
    body: '{"inputs":["test e2e","pulse client"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/embeddings
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/dfd98b4d19034853b4df469510b68c72"}'
    headers:
      Apigw-Requestid:
      - Ju0uViyfDoEEMiA=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/dfd98b4d19034853b4df469510b68c72
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - Ju0ugiyfjoEEMkQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/dfd98b4d19034853b4df469510b68c72
  response:
    body:
      string: '{"jobId":"189cf143-eed3-4ef1-ba99-4d82ca1a8f9a","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/189cf143-eed3-4ef1-ba99-4d82ca1a8f9a/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAUSUWGQKK%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113605Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDRCyuYfZhXf%2FERL12QMrHMYB%2BpCT0HZi%2BC8WYODvIktgIhALrRPVGVNVWx[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/189cf143-eed3-4ef1-ba99-4d82ca1a8f9a/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYAUSUWGQKK%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T113605Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjENz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDRC[...]
