interactions:
- request:
    body: '{"minThemes":2,"maxThemes":3,"fast":true,"inputs":["Had a blast! The rollercoasters
      were thrilling and the staff were friendly.","A bit pricey, but the rides were
      worth it. Great family fun!","Long lines, but the shows were entertaining. Would
      come again.","Disappointing. Many rides were closed, and the food was overpriced.","Awesome
      day out! The kids loved the water park.","The park was clean and well-maintained.
      A pleasant experience.","Too crowded, making it difficult to enjoy the rides.","Excellent
      customer service. The staff went above and beyond.","A magical experience! Highly
      recommend for all ages.","Not impressed with the variety of rides. Could be
      better.","The atmosphere was fantastic. Great music and decorations.","Spent
      too much time waiting in line. Needs better queue management.","My kids had
      a wonderful time! We''ll definitely return.","The food options were limited
      and not very tasty.","A truly unforgettable day at the park. Highly recommended!","The
      park was clean and well-kept, but the rides were too short.","Great value for
      the money.  Lots of fun for the whole family.","We had a mixed experience. Some
      rides were great, others were underwhelming.","The staff were helpful and courteous.  The
      park was well-organized.","The park is beautiful, but the ticket prices are
      exorbitant."]}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NTg0MDU5OTgsImV4cCI6MTc1ODQ5MjM5OCwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.Trwn9kBaPatCBX773labnhMxHE5yKQFdNdZexMN7haseAZEkC5Mr-RwnSxR8beD4a4tPg-zmCIGF_g5f2RVluIKuMjcmfe_-uIQ3IIAGp5XUCAXdlMNpOOPcTDZWlDMdttAG4phTVSqzSrNZ0jR-XyhR4dCcMYMyLW36qQh1WbGtOs1cd6qJldp64L5Qvfs5sinTWzoud9sZUil945PIMG-MHXPfvSs3S0GPhFOoxwzDm9-AwdPb0TQ0PgMJAGTHrACniI2qNR5zj9z8vTRfV9NS5PEJ_cuz5FEgWdB-rIhfZ5q_nGQ6J5rN4ZNKbeGGfnWoZ8QSsYqpLwzRAE-bFw
      content-type:
      - application/json
    method: POST
    uri: https://staging.pulse.researchwiseai.com/v1/themes
  response:
    body:
      string: '{"themes":[{"shortLabel":"Rides & Attractions","label":"Experience
        of rides and entertainment options","description":"Feedback regarding the
        variety, quality, and enjoyment level of rides and shows offered at the park.","representatives":["The
        rollercoasters were thrilling and the staff were friendly.","Not impressed
        with the variety of rides. Could be better.","The park was clean and well-maintained.
        A pleasant experience.","The rides were too short but well-kept.","Some rides
        were great, others were underwhelming."]},{"shortLabel":"Cost & Value","label":"Pricing,
        affordability, and perceived value","description":"Comments related to ticket
        prices, additional costs, and the overall value for money spent at the park.","representatives":["A
        bit pricey, but the rides were worth it. Great family fun!","Spent too much
        time waiting in line. Needs better queue management.","The food options were
        limited and not very tasty.","Great value for the money. Lots of fun for the
        whole family.","The park was clean and well-kept, but the rides were too short."]},{"shortLabel":"Crowd
        & Management","label":"Crowd levels, wait times, and staff efficiency","description":"Insights
        on crowd levels, wait times, staff helpfulness, and queue management during
        visits.","representatives":["Too crowded, making it difficult to enjoy the
        rides.","Long lines, but the shows were entertaining.","Spent too much time
        waiting in line. Needs better queue management.","The staff were helpful and
        courteous. The park was well-organized.","The park was busy but manageable."]}],"requestId":"2017abfbd110ea7f54c1b2018c37afb16d387237","usage":{"records":[{"feature":"themes","quantity":1}],"total":1}}'
    headers:
      Apigw-Requestid:
      - ROLMSi94joEEMcg=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"set_a":["Had a blast! The rollercoasters were thrilling and the staff
      were friendly.","A bit pricey, but the rides were worth it. Great family fun!","Long
      lines, but the shows were entertaining. Would come again.","Disappointing. Many
      rides were closed, and the food was overpriced.","Awesome day out! The kids
      loved the water park.","The park was clean and well-maintained. A pleasant experience.","Too
      crowded, making it difficult to enjoy the rides.","Excellent customer service.
      The staff went above and beyond.","A magical experience! Highly recommend for
      all ages.","Not impressed with the variety of rides. Could be better.","The
      atmosphere was fantastic. Great music and decorations.","Spent too much time
      waiting in line. Needs better queue management.","My kids had a wonderful time!
      We''ll definitely return.","The food options were limited and not very tasty.","A
      truly unforgettable day at the park. Highly recommended!","The park was clean
      and well-kept, but the rides were too short.","Great value for the money.  Lots
      of fun for the whole family.","We had a mixed experience. Some rides were great,
      others were underwhelming.","The staff were helpful and courteous.  The park
      was well-organized.","The park is beautiful, but the ticket prices are exorbitant."],"set_b":["The
      rollercoasters were thrilling and the staff were friendly. Not impressed with
      the variety of rides. Could be better. The park was clean and well-maintained.
      A pleasant experience. The rides were too short but well-kept. Some rides were
      great, others were underwhelming.","A bit pricey, but the rides were worth it.
      Great family fun! Spent too much time waiting in line. Needs better queue management.
      The food options were limited and not very tasty. Great value for the money.
      Lots of fun for the whole family. The park was clean and well-kept, but the
      rides were too short.","Too crowded, making it difficult to enjoy the rides.
      Long lines, but the shows were entertaining. Spent too much time waiting in
      line. Needs better queue management. The staff were helpful and courteous. The
      park was well-organized. The park was busy but manageable."],"flatten":false,"fast":true}'
    headers:
      authorization:
      - Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImwxRThteER3TnJoQ2l4TzZfYUhQRCJ9.eyJpc3MiOiJodHRwczovL3dpc2UtZGV2LmV1LmF1dGgwLmNvbS8iLCJzdWIiOiJhaUl1ODFDVWRrVlRlRDBhUzRHUHpUWDhuMlE1RURIU0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9kZXYuY29yZS5yZXNlYXJjaHdpc2VhaS5jb20vcHVsc2UvdjEiLCJpYXQiOjE3NTg0MDU5OTgsImV4cCI6MTc1ODQ5MjM5OCwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIiwiYXpwIjoiYWlJdTgxQ1Vka1ZUZUQwYVM0R1B6VFg4bjJRNUVESFMifQ.Trwn9kBaPatCBX773labnhMxHE5yKQFdNdZexMN7haseAZEkC5Mr-RwnSxR8beD4a4tPg-zmCIGF_g5f2RVluIKuMjcmfe_-uIQ3IIAGp5XUCAXdlMNpOOPcTDZWlDMdttAG4phTVSqzSrNZ0jR-XyhR4dCcMYMyLW36qQh1WbGtOs1cd6qJldp64L5Qvfs5sinTWzoud9sZUil945PIMG-MHXPfvSs3S0GPhFOoxwzDm9-AwdPb0TQ0PgMJAGTHrACniI2qNR5zj9z8vTRfV9NS5PEJ_cuz5FEgWdB-rIhfZ5q_nGQ6J5rN4ZNKbeGGfnWoZ8QSsYqpLwzRAE-bFw
      content-type:
      - application/json
    method: POST
    uri: https://staging.pulse.researchwiseai.com/v1/similarity
  response:
    body:
      string: '{"flattened":[0.7120950818061829,0.534860372543335,0.5215664505958557,0.518578290939331,0.7693876624107361,0.4336073696613312,0.4406680464744568,0.5149713754653931,0.5857765078544617,0.5328612327575684,0.6204224228858948,0.5377786159515381,0.4017616808414459,0.44735971093177795,0.37567734718322754,0.5281283259391785,0.4175664782524109,0.421528697013855,0.45933178067207336,0.5129245519638062,0.7002600431442261,0.31259065866470337,0.2699398100376129,0.27337655425071716,0.32045039534568787,0.3557453453540802,0.315667986869812,0.6671237945556641,0.5140383839607239,0.4646179676055908,0.2679186165332794,0.26814839243888855,0.2642488181591034,0.35232770442962646,0.5420324802398682,0.6128346920013428,0.311540812253952,0.34549111127853394,0.2592196464538574,0.2835354208946228,0.35680851340293884,0.24125483632087708,0.3646155297756195,0.38279545307159424,0.3538009226322174,0.7392340302467346,0.6880446076393127,0.5823347568511963,0.3664807081222534,0.5346499085426331,0.30404797196388245,0.6177261471748352,0.5165490508079529,0.46006786823272705,0.45288559794425964,0.38202664256095886,0.5331605672836304,0.40434303879737854,0.5160679817199707,0.4455290734767914],"matrix":[[0.7120950818061829,0.534860372543335,0.5215664505958557],[0.518578290939331,0.7693876624107361,0.4336073696613312],[0.4406680464744568,0.5149713754653931,0.5857765078544617],[0.5328612327575684,0.6204224228858948,0.5377786159515381],[0.4017616808414459,0.44735971093177795,0.37567734718322754],[0.5281283259391785,0.4175664782524109,0.421528697013855],[0.45933178067207336,0.5129245519638062,0.7002600431442261],[0.31259065866470337,0.2699398100376129,0.27337655425071716],[0.32045039534568787,0.3557453453540802,0.315667986869812],[0.6671237945556641,0.5140383839607239,0.4646179676055908],[0.2679186165332794,0.26814839243888855,0.2642488181591034],[0.35232770442962646,0.5420324802398682,0.6128346920013428],[0.311540812253952,0.34549111127853394,0.2592196464538574],[0.2835354208946228,0.35680851340293884,0.24125483632087708],[0.3646155297756195,0.38279545307159424,0.3538009226322174],[0.7392340302467346,0.6880446076393127,0.5823347568511963],[0.3664807081222534,0.5346499085426331,0.30404797196388245],[0.6177261471748352,0.5165490508079529,0.46006786823272705],[0.45288559794425964,0.38202664256095886,0.5331605672836304],[0.40434303879737854,0.5160679817199707,0.4455290734767914]],"mode":"matrix","n":20,"requestId":"a1e8405d-3d58-4b4b-999d-3ed8c0976fac","scenario":"cross","usage":{"records":[{"feature":"similarity","quantity":1}],"total":1}}'
    headers:
      Apigw-Requestid:
      - ROLM3gOHjoEEMRw=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
