interactions:
- request:
    body: '{"inputs":["alpha","beta"],"minThemes":1,"maxThemes":3}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/themes
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/94992e8dd96b44f3969c46676115f64e"}'
    headers:
      Apigw-Requestid:
      - JoLG9gXQDoEEPLA=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/94992e8dd96b44f3969c46676115f64e
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JoLHHjjhjoEEPWQ=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/94992e8dd96b44f3969c46676115f64e
  response:
    body:
      string: '{"jobId":"00d18ca9-70e3-47ea-b120-9ccbe866dc03","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/00d18ca9-70e3-47ea-b120-9ccbe866dc03/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T111035Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGTuRt4nNTkCswc7zRQJuhl5YXtqil7bPPxVQJWiSJMQIhAOQVhfphlQu0YL8eMf[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/00d18ca9-70e3-47ea-b120-9ccbe866dc03/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T111035Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGT[...]
