interactions:
- request:
    body: '{"inputs":["test e2e","pulse client"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/embeddings
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/a03adc5550f649d6a20c00a444dbc413"}'
    headers:
      Apigw-Requestid:
      - JoK3ojZ_joEEM5g=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/a03adc5550f649d6a20c00a444dbc413
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JoK3xhp0joEEMeg=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/a03adc5550f649d6a20c00a444dbc413
  response:
    body:
      string: '{"jobId":"04d32c72-6e4b-4882-9534-6b5d455b6ab7","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/04d32c72-6e4b-4882-9534-6b5d455b6ab7/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T110856Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGTuRt4nNTkCswc7zRQJuhl5YXtqil7bPPxVQJWiSJMQIhAOQVhfphlQu0YL8eMf[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/04d32c72-6e4b-4882-9534-6b5d455b6ab7/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T110856Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGT[...]
