interactions:
- request:
    body: '{"inputs":["sample text","sample text 2"],"themes":["theme1"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/extractions
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/541cee49f3d84b3699b292b662514626"}'
    headers:
      Apigw-Requestid:
      - Jl3CWiLVjoEEPcA=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/541cee49f3d84b3699b292b662514626
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - Jl3CmiEhjoEEP2w=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
