interactions:
- request:
    body: '{"input":["happy","sad"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment?fast=true
  response:
    body:
      string: "Failed to parse schema. This error was caused by: [\n  {\n    \"code\":
        \"invalid_type\",\n    \"expected\": \"array\",\n    \"received\": \"undefined\",\n
        \   \"path\": [\n      \"body\",\n      \"inputs\"\n    ],\n    \"message\":
        \"Required\"\n  }\n]."
    headers:
      Apigw-Requestid:
      - JlW3EhFHjoEEPOQ=
      Content-Type:
      - text/plain
    status:
      code: 400
      message: Bad Request
version: 1
