interactions:
- request:
    body: '{"inputs":["test e2e","pulse client"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/embeddings
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/4ce16d76df624ddaaf609b0768abd89f"}'
    headers:
      Apigw-Requestid:
      - JwCAwiHijoEEJ1g=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/4ce16d76df624ddaaf609b0768abd89f
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JwCA6h7uDoEEJww=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/4ce16d76df624ddaaf609b0768abd89f
  response:
    body:
      string: '{"jobId":"0ba9a9d7-935e-4fba-863d-0dd41ffca291","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/0ba9a9d7-935e-4fba-863d-0dd41ffca291/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202338Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOxOgaQW1sAFV%2FyTA1mbYnGORO%2FWQe%2B3E0KP4kIPricQIhAIoBCMtH0HZp[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/0ba9a9d7-935e-4fba-863d-0dd41ffca291/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA7NETGCBG%2F20250428%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250428T202338Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOX%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQDOx[...]
