interactions:
- request:
    body: '{"inputs":["happy","sad"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://dev.core.researchwiseai.com/pulse/v1/sentiment
  response:
    body:
      string: '{"jobId":"task/core-dev-JobsCluster-nzenfbrm/d8fedc7178cd46c8933e273e61fe4df2"}'
    headers:
      Apigw-Requestid:
      - JoLO8hDCDoEEMag=
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/d8fedc7178cd46c8933e273e61fe4df2
  response:
    body:
      string: '{"status":"pending"}'
    headers:
      Apigw-Requestid:
      - JoLPLh1ODoEEMjA=
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://dev.core.researchwiseai.com/pulse/v1/jobs?jobId=task/core-dev-JobsCluster-nzenfbrm/d8fedc7178cd46c8933e273e61fe4df2
  response:
    body:
      string: '{"jobId":"9a46c0cf-1e81-4fbe-b103-5c40d076646a","status":"completed","resultUrl":"https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/9a46c0cf-1e81-4fbe-b103-5c40d076646a/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T111121Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGTuRt4nNTkCswc7zRQJuhl5YXtqil7bPPxVQJWiSJMQIhAOQVhfphlQu0YL8eMf[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://core-dev-pulsefilesystembucket-bvkfxrtm.s3.eu-west-1.amazonaws.com/jobs/embeddings/9a46c0cf-1e81-4fbe-b103-5c40d076646a/response.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA33Y6QTYA4DG6ZZXC%2F20250426%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20250426T111121Z&X-Amz-Expires=900&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCWV1LXdlc3QtMSJIMEYCIQCGT[...]
